.progressbar {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.progressbar>:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #217de0;
    color: white;
}

.progressbar>:last-child {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    color: black;
    /* clip-path: inset(0 0 0 50%); */
    /* -webkit-clip-path: inset(0 0 0 50%); */
    transition: clip-path 0.5s ease;
}

.progressbar.dark-blue>:first-child {
    background: #0054ae;
}

.progressbar.green>:first-child {
    background: #36B24D;
}

.progressbar.dark-green>:first-child {
    background: #1d8931;
}

.progressbar.red>:first-child {
    background: #FA5352;
}

.progressbar.dark-red>:first-child {
    background: #C92B2A;
}


.progressbar.animate>:first-child {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    animation: 1s steps(20) infinite barberpole;
}

@keyframes barberpole {
    0% {
        background-position-x: 1rem;
    }
}
